/* Banner */

.banner {
    /* background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; */
    background: #0081ff url('../img/banner.jpg') no-repeat center top / cover; /* Resumo das linhas anteriores */
    position: relative;
    color: #fff;
}

.banner::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 129, 255, 1) 0%, rgba(57, 181, 74, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;

}

.banner > div {
    position: relative;
    z-index: 2;
}

.banner .row { 
    height: 100vh;
    text-align: center;
    align-items: center;
}

/* Mobile */
.banner h1{
    font-size: 26px;
}

.banner p{
    font-size: 16px;
}

.banner br {
    display: none;
}

/* Desktop */
@media (min-width: 760px){
    .banner h1{
        font-size: 40px;
    }
    
    .banner p{
        font-size: 20px;
    }

    .banner br {
        display: block;
    }
}