/* Button */

.button{
    display: inline-block;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    color: #fff;
    /*padding: top right bottom left;
    padding: top right/left bottom;
    padding: top/bottom left/right;*/
}

.button-primary{
    background-color: #0081ff;
}
.button-secondary{
    background-color: #39b54a;
}

.button-wrapper-right{
    text-align: right;
}