/* Contato */


/* Configuração para o mapa ficar do header até o footer quando desktop */
.map-wrapper{
    height: 300px;
    margin: 15px -15px -29px;
}

/* Quando a tela for maior que 720px, atribuir essas configuraçoes para que o mapa fique ao lado do formulário */
@media (min-width: 720px) {
    .map-wrapper{
        width: 50vw;
        height: auto;
        margin: 0;
        position: absolute;
        top: 78.47px;
        right: 0;
        bottom: 126px;
        z-index: 1;
    }
    
}

.map{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}
