/* Fields */

.field{
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 15px;
    border: 1px solid #bbb;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    color: #000;
}

/*Alterando a cor do placeholder (texto que fica dentro do campo antes de preencher) */
.field::placeholder{
    color: #4f4f4f;
}

/*Alterando a cor do placeholder (texto que fica dentro do campo antes de preencher) quando o campo está selecionado */
.field:focus::placeholder{
    color: #0081ff;
}

/* colocar sombra no campo quando está selecionado para digitar */
.field:focus{
    border-color: #0081ff;
    box-shadow: 0 0 12px rgba(0, 129, 255, 0.5);
}

textarea.field{
    max-width: 100%; /*deixar apenas aumentar o size para baixo, os lados não*/
    min-width: 100%;
    /*resize: none; Para tirar a possibilidade de aumentar o quadrante*/
    min-height: 150px;
}