/* Footer */

.footer{
    width: 100%;
    padding: 20px 15px;
    text-align: center;
    color: #333;
    background: #efefef;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
}

.footer nav li,
.footer nav a {
    display: inline-block;
}

/* mobile */
.footer nav a{
    padding: 10px 4px;
    font-size: 12px;
    color: grey;
    line-height: 18px;
}

/* desktop, quando for maior que 720px*/
@media (min-width: 720px) {
    .footer nav a{
        padding: 10px 20px;
        font-size: 16px;
        color: grey;
    }
}

.footer p{
    margin: 30px 0 0;
}

