/* General */

body {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 155px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

a {
    color: #0081ff;
    text-decoration: none;
}

a:not(.button):hover {
    color: #39b54a;
}

.header + section:not(.banner) {
    padding-top: 100px; 
}

.text-center{
    text-align: center;
}

/* Classe para um elemento ficar sempre oculto */
.hide{
    display: none;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}


/* Classes para usar para desaparecer algum campo quando estiver em MOBILE, TABLET OU DESKTOP */

/*Até 719pixels -> display não, ou seja não aparece (seria a visualização mobile)*/
@media (max-width: 719px) {
    .hide-on-mobile{
        display: none;
    }
}

/* De 719px até 1023px */
@media (min-width: 719px) and (max-width: 1023px) {
    .hide-on-tablet{
        display: none;
    }
}
/* Apenas em desktop */
@media (min-width: 1024px) {
    .hide-on-mobile{
        display: none;
    }
}
