/* Header */

.header{
    width: 100%;
    padding: 15px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4); /* parametros: eixo x, eixo y, tamanho da sombra, cor (r, g, b, transparência */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;

}

.header img {
    width: 126px;
}

.header nav {
    transform: translate(200%, 0);
}

/* navegação do menu -> Mobile */
@media (max-width: 979px){
    .header nav{
        width: 200px;
        position: fixed;
        top: 93.47px;
        right: 15px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 12px rgba(0,0,0,0.4);
        
        /* Animação */
        transition: transform 0.3s ease-in-out 0s;
    }

}

#input-open-menu:checked + nav {
    transform: translate(0,0);
}

/*Sempre pensar no mobile-first*/
/*Quando a tela ficar maior que 980px, colocar o menu de navegação para direita*/
@media (min-width: 980px){
    .header nav{
        float: right;
        transform: translate(0,0);
    }
}

.header .logo {
    display: inline-block;
}

.header li a {
    padding: 15px;
}


.header li,
.header li a {
    display: block;
}


/*Quando a tela ficar maior que 980px, colocar o menu de navegação inline-block, ou seja, em linha*/
/*Quando menor que isso, fica um em cima do outro*/
@media (min-width: 980px) {
    .header li,
    .header li a{
        display: inline-block;
    }
}

/* Configurar o botão do menu de navegação do header quando mobile */
.button-mobile-menu{
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #bbb;
    border-radius: 8px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background: url('../img/icone.svg') no-repeat center / 60%;
    cursor: pointer;
}

@media (min-width: 980px) {
    .button-mobile-menu{
        display: none;
    }
}