/* Reset */

body,
ul {
    margin: 0;
}


body,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
}

ul {
    padding: 0;
    list-style: none;
}


/*
     Aplica para todos os quatro lados 
margin: 1em;

 vertical | horizontal 
margin: 5% auto;

 topo | horizontal | inferior 
margin: 1em auto 2em;

 topo | direita | inferior | esquerda 
margin: 2px 1em 0 auto;

 Valores globais 
    margin: inherit;
    margin: initial;
    margin: unset;
*/