/* Services */

.container-service > .row{
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.container-service > .row:not(:first-child){
    border-top: dashed 2px #ddd;
}

.container-service > .row:nth-child(2n){ /*pega as colunas, que estiverem dentro das linhas que forem pares, que estiverem dentro de container-service*/
    flex-direction: row-reverse;
}