
.circulo-azul{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgb(83, 156, 199);
    position: absolute;
    margin-top: -80px;
    margin-left: 15px;
    border: 4px solid white;
    box-shadow: inset 0 0 5px 5px rgb(58, 125, 163);
}

.circulo-vermelho{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    border: 1px solid black;
    box-shadow: inset 0 0 1px 1px rgb(175, 8, 8);

    margin-top: -75px;
    margin-left: 90px;
}

.circulo-amarelo{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: yellow;
    border: 1px solid black;
    box-shadow: inset 0 0 1px 1px rgb(182, 182, 2);

    margin-top: -75px;
    margin-left: 115px;
}

.circulo-verde{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: green;
    border: 1px solid black;
    box-shadow: inset 0 0 1px 1px rgb(1, 116, 1);

    margin-top: -75px;
    margin-left: 140px;
}