
.container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}


.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.col {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    
}

.col-6 {
    width: 50%;
}

@media (min-width: 1024px){
    .col-lg-6 {
        width: 50%;
    }
}
