body{
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background: rgb(177, 27, 27);
    width: 55%;
    height: 600px;
    text-align: center;
    border-radius: 3%;
    border: 9px solid rgb(122, 0, 0);
    box-sizing: border-box;
}


.card .card-side{
    height: 500px;
}

.border-right{
    border-right: 12px solid rgb(122, 0, 0);
    height: 100%;
}

.border-left{
    border-left: 12px solid rgb(122, 0, 0);
}

.display-data{
    background: rgb(112, 190, 48);
    width: 95%;
    height: 65%;
    margin: auto;
    margin-top: 30px;
    border-radius: 12px;
    border: 8px solid rgb(80, 79, 79);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 0 0 5px 5px rgb(88, 151, 37);
    
}

.display-data tbody{
    display: inline-block;
    
}

/*.nome{
    background: #d0d2e0;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    border: 2px solid snow;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace
    
}*/

.id{
    font-size: 18px;
    color: rgb(0, 0, 0);
    background: #d0d2e0;
    width: 10%;
    border: 3px solid rgb(80, 79, 79);
    display: inline;
    border-radius: 5px;
    padding: 2px;

} 
.display-name-id{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace
   
}

.display-image{
    margin: auto;
    margin-top: 90px;
    width: 260px;
    height: 200px;
    background-color: #707eee;
    border: 20px solid rgb(214, 213, 213);
    border-bottom: 40px solid rgb(214, 213, 213); ;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0 0 15px 15px #5e6fee;
    
}

.thumb{
    width: 200px;
}

#validaId{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: -165px;
}


.table{
    display: inline;
}

.tipo{
    vertical-align: top;
    margin-top: 30px;
    margin-right: 10px;
}
.stats{
    text-align: center;
    margin-top: 30px;
}

#input-pokemon{
    width: 21%;
    height: 8%;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    background: rgb(163, 204, 126);
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.esquerdo{
    display: inline;
    width: 100px;
}

.gamepad{
    float: right;
    width: 100px;
    margin-right: 40px;
}
