/* Style */

.carousel-image{
    height: 50vh;
    background: url('../img/banner.jpg') no-repeat center top / cover; /* center = eixo x | top = eixo y  | cover = utilizar toda a área disponível na página*/
}

.text-color-green{
    color: rgb(79, 216, 79);
}

.text-color-orange{
    color: rgb(212, 101, 27)
}

.text-color-blue{
    color: rgb(0, 140, 255);
}

.padding-top{
    padding-top: 10px;
}