.App {
  text-align: center;
}


.App-header {
  background-color: #244177;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(208, 217, 238);  
  
}

.footer{
  width: 100%;
  text-align: center;
  background: rgb(197, 197, 197);
  color: black;
}
