body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
  height: 80px;
}

.lista-dados{
  color: black;
  font-size: 15px;
}

.li {
  background: rgb(195, 207, 233);
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 2px;
  
}
.li-verde {
  background: rgb(195, 229, 192);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 2px;
}

.coluna-tipo { 
  width: 100%;
  display: block;

}

.card {
  border: 8px solid black;
}

.mensagem-erro{
  color: red;
  font-size: 15px;
}

.mensagem-sucesso{
  color: green;
  font-size: 15px;
}

.orientacao-pagamento{
  font-size: 15px;
  color: black;
}