.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  margin: 3px;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.azul {
  background-color: blue;
  border-color: blue;
  color: white;
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

.preto {
  background-color: black;
  border-color: black;
  color: white;
}

.laranja { 
  background-color: orange;
  border-color: orange;
  color: rgb(29, 29, 29);
}

.branco { 
  background-color: white;
  border-color: white;
  color: rgb(66, 66, 66);
}

.linkCor { 
  background-color: orange;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn{
  margin: 0 10px;
}

.link {
  text-decoration: none;
}

.campoNota {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.semNota{
  border: 4px solid red;
}

.mensagemErro{
  background: red;
}

.obrigatorio{
  font-size: 15px;
  color: red;
  margin-left: 5px;
}

.flash{
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.invisivel{
  display: none;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out{
  animation: fadeout 1s linear forwards;
}

@keyframes fadein{
  from { opacity: 0; }
  to { opacity: 1; visibility: visible; }
}

@keyframes fadeout{
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

.mensagem-erro{
  color: red;
  font-size: 12px;
}

.erro{
  border-color: red;
}